div#toc
    strong Table of contents:
div#my-timeline
div#knowledge-packet.section!= partial("_articles/knowledge-packet")
div#why-bother.section!= partial("_articles/why-bother")
div#history-present-future.section!= partial("_articles/history-present-future")
    h4 Free software timeline
    <iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0AsqZB9PmvO4WdEdJWnRfMmsxdk5KR0dIOUV3RGlsYXc&font=Bevan-PotanoSans&maptype=TERRAIN&lang=en&height=650' width='100%' height='650' frameborder='0'></iframe>
div#licences.section!= partial("_articles/licences")
    div#GPLv2.sub-section!= partial("_licenses/GPLv2")
    div#GPLv3.sub-section!= partial("_licenses/GPLv3")
    div#LGPL-11.sub-section!= partial("_licenses/LGPL-11")
    div#LGPL-30.sub-section!= partial("_licenses/LGPL-30")
    div#MIT.sub-section!= partial("_licenses/MIT")
    div#ASL20.sub-section!= partial("_licenses/ASL20")
    div#BSD3-Clause.sub-section!= partial("_licenses/BSD3-Clause")
    div#MPL2.sub-section!= partial("_licenses/MPL2")
div#selecting-a-license.section!= partial("_articles/selecting-a-license")
div#what-next.section!= partial("_articles/what-next")
